<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Website</title>

    <link rel="stylesheet" href="site/css/style.css" />

    <!-- box icons -->
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- header -->
    <header class="header">
      <a href="#" class="logo">Med Amine.</a>

      <i class="bx bx-menu" id="menu-icon"></i>

      <nav class="navbar">
        <a href="#home" class="active">Home</a>
        <a href="#about">About</a>
        <a href="#education">Education</a>
        <a href="#skills">Skills</a>
        <a href="#contact">Contact</a>
      </nav>
    </header>

    <!-- Home section -->

    <section class="home" id="home">
      <div class="home-content">
        <h1>Hi, I'm <span>Mohamed Amine Tajaoui</span></h1>
        <div class="text-animate">
          <h3>Full Stack Developer</h3>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed assumenda
          voluptatum debitis, ab delectus quis dignissimos, quo rerum libero
          nisi quibusdam fuga a sunt corporis excepturi voluptas eligendi
          doloremque aut.
        </p>

        <div class="btn-box">
          <a href="#" class="btn">Hire me</a>
          <a href="#" class="btn">Let's Talk</a>
        </div>
      </div>

      <div class="home-sci">
        <a href="#"><i class="bx bxl-facebook"></i></a>
        <a href="#"><i class="bx bxl-linkedin"></i></a>
        <a href="#"><i class="bx bxl-twitter"></i></a>
      </div>

      <div class="home-imgHover"></div>
    </section>

    <!-- About section -->

    <section class="about" id="about">
      <h2 class="heading">About <span>Me</span></h2>

      <div class="about-img">
        <img src="site/css/images/about.jpg" alt="" />
        <span class="circle-spin"></span>
      </div>

      <div class="about-content">
        <h3>Full Stack Web Developer</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore
          sint incidunt, neque quo odio pariatur quis natus porro earum magnam
          qui dolorem quam adipisci sunt ad dolore similique eius officiis!
        </p>
      </div>

      <div class="btn-box btns">
        <a href="#" class="btn">Read more</a>
      </div>
    </section>

    <!-- Education section -->

    <section class="education" id="education">
      <h2 class="heading">My <span>Journey</span></h2>

      <div class="education-row">
        <!-- it displays the row with the 2 columns: education and experience -->
        <!-- Education column -->
        <div class="education-column">
          <h3 class="title">Education</h3>

          <div class="education-box">
            <div class="education-content">
              <div class="content">
                <div class="year">
                  <i class="bx bxs-calendar"></i>2017 - 2018
                </div>
                <h3>Master Degree - University</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Nulla voluptatem consectetur sed rerum commodi nesciunt alias
                  libero, rem beatae et maxime perferendis obcaecati ad saepe
                  eum iure eveniet fugit ratione!
                </p>
              </div>
            </div>

            <div class="education-content">
              <div class="content">
                <div class="year">
                  <i class="bx bxs-calendar"></i>2017 - 2018
                </div>
                <h3>Master Degree - University</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Nulla voluptatem consectetur sed rerum commodi nesciunt alias
                  libero, rem beatae et maxime perferendis obcaecati ad saepe
                  eum iure eveniet fugit ratione!
                </p>
              </div>
            </div>

            <div class="education-content">
              <div class="content">
                <div class="year">
                  <i class="bx bxs-calendar"></i>2017 - 2018
                </div>
                <h3>Master Degree - University</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Nulla voluptatem consectetur sed rerum commodi nesciunt alias
                  libero, rem beatae et maxime perferendis obcaecati ad saepe
                  eum iure eveniet fugit ratione!
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- Experience column -->

        <div class="education-column">
          <h3 class="title">Experience</h3>

          <div class="education-box">
            <div class="education-content">
              <div class="content">
                <div class="year">
                  <i class="bx bxs-calendar"></i>2017 - 2018
                </div>
                <h3>Master Degree - University</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Nulla voluptatem consectetur sed rerum commodi nesciunt alias
                  libero, rem beatae et maxime perferendis obcaecati ad saepe
                  eum iure eveniet fugit ratione!
                </p>
              </div>
            </div>

            <div class="education-content">
              <div class="content">
                <div class="year">
                  <i class="bx bxs-calendar"></i>2017 - 2018
                </div>
                <h3>Master Degree - University</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Nulla voluptatem consectetur sed rerum commodi nesciunt alias
                  libero, rem beatae et maxime perferendis obcaecati ad saepe
                  eum iure eveniet fugit ratione!
                </p>
              </div>
            </div>

            <div class="education-content">
              <div class="content">
                <div class="year">
                  <i class="bx bxs-calendar"></i>2017 - 2018
                </div>
                <h3>Master Degree - University</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Nulla voluptatem consectetur sed rerum commodi nesciunt alias
                  libero, rem beatae et maxime perferendis obcaecati ad saepe
                  eum iure eveniet fugit ratione!
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Skills section -->

    <section class="skills" id="skills">
      <h2 class="heading">My <span>Skills</span></h2>

      <div class="skills-row">
        <div class="skills-column">
          <h3 class="title">Coding Skills</h3>

          <div class="skills-box">
            <div class="skills-content">
              <div class="progress">
                <h3>HTML <span>90%</span></h3>
                <div class="bar"><span></span></div>
              </div>

              <div class="progress">
                <h3>CSS <span>80%</span></h3>
                <div class="bar"><span></span></div>
              </div>

              <div class="progress">
                <h3>JavaScript <span>56%</span></h3>
                <div class="bar"><span></span></div>
              </div>

              <div class="progress">
                <h3>Python <span>75%</span></h3>
                <div class="bar"><span></span></div>
              </div>
            </div>
          </div>
        </div>

        <div class="skills-column">
          <h3 class="title">Professional Skills</h3>

          <div class="skills-box">
            <div class="skills-content">
              <div class="progress">
                <h3>Web Design <span>95%</span></h3>
                <div class="bar"><span></span></div>
              </div>

              <div class="progress">
                <h3>Web Development <span>67%</span></h3>
                <div class="bar"><span></span></div>
              </div>

              <div class="progress">
                <h3>Graphic Design <span>85%</span></h3>
                <div class="bar"><span></span></div>
              </div>

              <div class="progress">
                <h3>Seo Marketing <span>60%</span></h3>
                <div class="bar"><span></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->

    <section class="contact" id="contact">
      <h2 class="heading">Contact <spa>Me</spa></h2>

      <form action="#">
        <div class="input-box">
          <div class="input-field">
            <input
              type="text"
              placeholder="Full Name"
              name="fullName"
              required
            />
            <span class="focus"></span>
          </div>

          <div class="input-field">
            <input
              type="email"
              placeholder="Email Address"
              name="email"
              required
            />
            <span class="focus"></span>
          </div>
        </div>

        <div class="input-box">
          <div class="input-field">
            <input
              type="text"
              placeholder="Phone Number"
              name="phoneNumber"
              required
            />
            <span class="focus"></span>
          </div>

          <div class="input-field">
            <input
              type="text"
              placeholder="Email Subject"
              name="emailSubject"
              required
            />
            <span class="focus"></span>
          </div>
        </div>

        <div class="textarea-field">
          <textarea
            id=""
            cols="30"
            rows="10"
            placeholder="Your Message"
            name="yourMessage"
            required
          ></textarea>
          <span class="focus"></span>
        </div>

        <div class="btn-box btns">
          <button type="submit" class="btn submit-button">Submit</button>
        </div>
      </form>
    </section>

    <!-- Footer Section -->

    <footer class="footer">
      <div class="footer-text">
        <p>Copyright &copy; 2023 by Amine | All Rights Reserved.</p>
      </div>

      <div class="footer-iconTop">
        <a href="#"><i class="bx bx-up-arrow-alt"></i></a>
      </div>
    </footer>

    <script src="site/js/javascript.js"></script>
  </body>
</html>